html, body{
    overflow:none;
}
.left{
    background-size:cover;
    background-position:center center;
}
h1, h2, h3, h4{
    font-family: Gafata;
    font-weight:bold;
}
.nomg{
    margin:0px;
}
header{
    height:10px;
    background-color:#6184DF;
}
footer{
    height:90px;
    background-color:#87E143;
    bottom: 0;
    width: 100%;
}

.weather{
    padding:25px;
    background-color:rgba(0,0,0,0.6);
    border:1px solid #555;
    margin:30% auto;
    width:70%;
    color:#FFF;
    border-radius:3px;
    box-shadow:0px 0px 10px #222;
}
.weather h2{
    margin:0px;
    font-size:70px;
    font-family: Gafata;
}
.weather img{
    float:left;
}
.weather div.temp{
    float:left;
    font-size:95px;
    font-family: Gafata;
}
.weather div.img-temp{
    float:left;
    padding:25px 0px 0px 10px;
    font-size:30px;
    font-family: Gafata;
}
.weather div.desc{
    float:right;
    padding:20px 0px 0px 10px;
    font-weight:lighter;
    font-size:30px;
    font-family: Gafata;
}

.right{
    background-color:#FFF;
    background-image:url("../images/bg0.png");
    background-size:100% 100%;
    background-position:center center;
    background-repeat:no-repeat;
}

.right ul{
    margin-top:40px;
    list-style:none;
    padding-left: 15px;
}
.right ul>li>a{
    border: 1px solid #DDD;
    border-left-width:4px;
    padding: 6px 10px;
    border-radius: 3px;
    color:#666;
    margin-bottom:5px;
    display:block;
    text-decoration:none;
    font-family: Gafata;
    font-size:15px;
    background-color:#FFF;
}
.right ul>li>a:hover{
    border-left-color:#6184DF;
}

#contPanorama{
    overflow-y:auto;
}

@media screen and (max-device-width: 480px) {

    .weather{
        width:90%;
    }
    .weather h2 {
        font-size:35px;
        text-align:center;
    }
    .weather img {
        width: 80px;
    }

    .weather div.temp {
        font-size: 60px;
    }
    .weather div.img-temp {
        font-size:26px;
    }
    .weather div.desc{
        font-size:30px;
    }

    #clock:after,
    #clock{
        max-width:100%;
    }


}